{% extends "base.html" %}

{% block title %}My Film Folio - Actors{% endblock %}

{% block style %}
    .actor-container {
      display: flex;
      background-color: lightgray;
      padding: 1rem;
    }
    .actor-poster {
      width: 30%;
    }
    .actor-poster img {
      width: 100%;
      height: auto;
    }
    .actor-info {
      width: 70%;
      padding-left: 1rem;
    }
{% endblock %}

{% block content %}
  <div class="actor-container">
    <div class="actor-poster">
      <img src="https://via.placeholder.com/200x300" alt="Actor poster">
    </div>
    <div class="actor-info">
      <h1>Actor Name</h1>
      <p>Actor Biography</p>
    </div>
  </div>
{% endblock %}