{% extends "base.html" %}

{% block title %}My Film Folio - {{ cast.name }}{% endblock %}

{% block style %}
/* CSS styles for actor details page */

.actor-container {
    display: flex;
    background-color: lightblue;
    padding: 2rem;
}

.actor-poster {
    width: 30%;
}

.actor-poster img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.actor-info {
    width: 70%;
    padding-left: 1rem;
}

.biography {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dob-box {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dob-label {
    font-weight: bold;
}

.work {
    margin-top: 2rem;
    background-color: lightgray;
    padding: 1rem;
}

@media (min-width: 576px) {
  .card-group.card-group-scroll {
    overflow-x: auto;
    flex-wrap: nowrap;
  }
  .card {
    margin-right: 10px;
    flex-basis: 15%;
    max-width: 150px; /* Adjust this value to make the cards smaller */
  }
  .card-body {
    border-style: solid;
  }
  .card-img-top {
    border-style: dashed;
  }
}
{% endblock %}
{% block search %}{% endblock %}
{% block content %}
    <div class="actor-container">
        <div class="actor-poster">
            <img src="https://image.tmdb.org/t/p/w500{{ cast.Image }}" alt="{{ cast.name }} Poster">
        </div>
        <div class="actor-info">
            <h1>{{ cast.name }}</h1>
            <div class="biography">
                <h3>Biography</h3>
                <p>{{ cast.bio }}</p>
            </div>
            <div class="dob-box">
                <span class="dob-label">Date of Birth:</span> {{ cast.DoB }}
            </div>
        </div>
    </div>

    <div class="work">
    <h2>Worked In Movies</h2>
    <div class="puss-container">
        <div class="card-group card-group-scroll">
            {% for role in cast.roles_set.all %}
                <div class="card">
                    <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{ role.movie.poster_path }}" alt="Movie Poster">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'movies:movie_detail' role.movie.movie_id %}">{{ role.movie.title }}</a></h5>
                        {% if role.role_name %}
                          <p class="card-text">{{ role.role_name }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}